<div class="q1_answer">

<h1 class="oorx">正解！</h1>
<img src="https://images.nga.gov/?service=asset&action=show_preview&asset=149207" >
<h2>答えはゴッホです！</h2>
<p>作家名：ヴィンセント・ヴァン・ゴッホ[1853年 - 1890年]</p>
<p>タイトル：自画像</p>
<p>制作年：1889</p>
<p>素材：キャンバスに油絵具</p>
<h2 class="next">次の問題へ</h2>


</div>
