<%= javascript_include_tag 'result.js' =%>

<div class="question_answer">
      <h2 class="result_level">難易度：かんたん</h2>
          <p class="score">score：</p>
      <h1 id="score">/10</h1>
    <a class="link_to_top" href="/">難易度選択画面に戻る↩︎</a>

    <p class="result_tips"><span class="tips">Tips:</span><span class="stayhome">＃おうち時間</span>🏠で美術を楽しむために国立新美術館など様々な美術館が展示風景を公開しています✨<br>
      また、Google Arts&Cultureなどでもストリートビューで全世界の博物館・美術館を訪れることもできるので「おうちで美術でもみたいな〜🤔」と考えている方は利用してみるといいかもしれません👀<br>
      そのほか、メトロポリタン美術館(アメリカ・NY)などパブリックドメインになった作品のデータを公開している美術館も多くありますよ🔎</p>
</div>
